// Variables

// Gray and Brand Colors for use across theme

$theme1:#ED212A;
$theme2: #CF1C25;
$text1: #000;
$white: #FFF;
$gray: #C9C9C9;
$dark:  #2D2B30;
$ws:  #00E676;


.white { color: $white;}
.dark { color: $dark;}
.theme1 { color: $theme1}






// Font Mixins

@font-face {
    font-family: 'HighlandGothicFLF';
    src: url('../fonts/HighlandGothicFLF/HighlandGothicFLF-Bold.ttf');
    src: url('../fonts/HighlandGothicFLF/HighlandGothicFLF-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Titulos
@mixin serif-font {
    font-family: 'HighlandGothicFLF', sans-serif;
}
// Cuerpo
@mixin serif-font {
    font-family: 'Roboto', sans-serif;
}

.font-titulo {font-family: "HighlandGothicFLF", sans-serif;}
.font-tuerpo {font-family: 'Roboto', sans-serif;}