@import "variables.scss";

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    min-height: 760px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
label, input, textarea {
    font-size: 1.5rem;
    color: #9e9e9e;
}
footer {
    .info {
        h2 {
            color: $white;
        }
        a {
            color: $white;
            &:hover,
            &:focus,
            &:active,
            &.active {
                color: $white;
                text-decoration: underline;
            }
        }
        background: $dark;
        background-size: cover;
        padding: 50px 0;
        form {
            label, input, textarea {
                font-size: 14px;
                font-family: 'Roboto', sans-serif !important;
                font-weight: 100;
                color: $white;
            }
            .active {
                color: $white !important;
            }
        }
        .mapa {
            height: 300px;
            width: 100%;
            background: url('../img/fotos/2.jpeg') center center no-repeat;
            background-size: cover;
        }
        .item {
            h5 {
                font-family: 'Roboto', sans-serif !important;
                font-weight: 500;
                color: $white;
                text-align: left;
                margin: 20px 0;
                span {
                    margin-right: 15px;
                    font-size: 20px;
                }
            }
            p {
                font-weight: 100;
                color: $white;
                font-size: 12px;
                span {
                    margin-right: 15px;
                    font-size: 20px;
                }
            }
        }
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        background-color: $text1;
        .container {
            padding: 0;
            .text-muted {
                padding: 0 ;
                margin-top: 20px;
                text-align: center;
            }
        }
    }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
code {
    font-size: 80%;
}
.row {
    margin-bottom: 0;
}
.text-primary {
    color: $theme1;
}
.form-control, .btn {
    border-radius: 0 !important;
}
.noP {
    padding: 0 !important;
}
.hide {
    display: none;
}
.btn {
    width: 250px;
    border-radius: 7px !important;
    border: none !important;
}
.btn-primary {
    background: $theme1;
    &:hover,
    &:focus,
    &:active,
    &.active {
        background: darken($theme1, 5%) !important;
    }
}
.btn-border {
    background: none;
    border: 2px solid $theme1 !important;
    color: $theme1;
    font-weight: bold;
    &:hover,
    &:focus,
    &:active,
    &.active {
        background: $white !important;
        color: $theme1 !important;
    }
}
.btn-border2 {
    background: $white;
    border: none;
    color: $theme1;
    font-weight: bold;
}
.ws {
    color: #00E676;
}
@media(max-width:768px) { 
    .ws {
        margin: 0 auto;
        width: 150px;
    }
}
.mail {
    color: $theme1;
}
.linked {
    color: #0077B5;
}
nav {
    box-shadow: none;
    i {
        line-height: inherit;
    }
}
p {
    text-align: justify;
    font-size: 14px;
    line-height: 1.75;
    font-family: 'Roboto', sans-serif !important;
}

p.large {
    font-size: 16px;
}

a {
    color: $theme1;
    font-family: 'Roboto', sans-serif !important;
    &:hover,
    &:focus,
    &:active,
    .active {
        color: darken($theme1, 10%);
        text-decoration: none;
        outline: none;
    }
}
h1 {
    font-size: 56px;
}
h3 {
    font-size: 34px;
}
@media(max-width:768px) {
    h1 {
        font-size: 36px;
    }
    h3 {
        font-size: 28px;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'HighlandGothicFLF', serif !important;
    color: $dark;
    margin: 0;
    small {
        font-family: 'Roboto', sans-serif !important;
    }
}
.separador {
    margin: 30px 0;
    width: 100%;
    .linea1 {
        background: $dark;
        height: 100%;
        height: 3px;
    }
    .linea2 {
        background: $theme1;
        height: 100%;
        height: 3px;
    }
}
@media(max-width:768px) {
    .navbar-default {
        color: $white;
        background: $dark !important;
        .navbar-nav {
            li {
                padding: 5px 15px;
                a {
                    font-size: 16px;
                    padding: 10px 0px;
                    color: $white;
                    border-bottom: 2px solid $dark;
                    &:hover,
                    &:focus,
                    &:active {
                        background: none;
                        color: $white;
                        border-bottom: 2px solid $white;
                    }
                }
            }
        }
        .navbar-brand {
            color: $white !important;
            font-weight: 800;
            &:hover,
            &:focus,
            &:active {
                background: none;
                color: $theme1 !important;
            }
        }
    }
    .dark {
        color: $dark !important;
        background: $white !important;
        .navbar-nav {
            li {
                padding: 5px 15px;
                a {
                    font-size: 16px;
                    padding: 10px 0px;
                    color: $white;
                    border-bottom: 2px solid $white;
                    &:hover,
                    &:focus,
                    &:active {
                        background: none;
                        color: $white;
                        border-bottom: 2px solid $white;
                    }
                }
            }
        }
        .navbar-brand {
            color: $dark !important;
            font-weight: 800;
            &:hover,
            &:focus,
            &:active {
                background: none;
                color: $theme1 !important;
            }
        }
    }
}
.navbar-default {
    background: none;
    border: none;

    .navbar-nav {
        li {
            padding: 5px 15px;
            a {
                font-weight: 100;
                text-transform: uppercase;
                font-size: 12px;
                padding: 10px 0px;
                color: $white;
                &:hover,
                &:focus,
                &:active {
                    background: none;
                    color: $white;
                    border-bottom: 2px solid $white;
                }
            }
        }
        .active {
            background: none;
            a {
                color: $white;
                background: none;
                border-bottom: 2px solid $white;
                &:hover,
                &:focus,
                &:active {
                    background: none;
                    color: $white;
                }
            } 
        }
        .ws {
            color: #00E676;
            border: 1px solid #00E676;
            border-radius: 10px;
            padding-left: 40px;
            padding-right: 15px;
            &:hover,
            &:focus,
            &:active {
                background: none;
                color: $ws;
                border: 1px solid $ws;
            }
            i {
                font-size: 20px;
                margin-bottom: -5px;
                position: absolute;
                left: 15px;
            }
        }
    }
    .navbar-brand {
        font-family: 'HighlandGothicFLF', serif !important;
        text-align: left;
        color: $white;
        font-weight: 800;
        font-size: 24px;
        img {
            width: 40px;
            float: left;
            margin-top: -5px;
            margin-right: 10px;
        }
        &:hover,
        &:focus,
        &:active {
            background: none;
            color: $white;
        }
    }
}
.dark {
    color: $dark;
    background: $white;
    transition: .5s;
    .navbar-nav {
        li {
            a {
                color: $dark;
                &:hover,
                &:focus,
                &:active {
                    background: none;
                    color: $dark;
                    border-bottom: 2px solid $dark;
                }
            }
        }
        .active {
            a {
                color: $dark;
                border-bottom: 2px solid $dark;
                &:hover,
                &:focus,
                &:active {
                    background: none;
                    color: $dark;
                    border-bottom: 2px solid $dark;
                }
            } 
        }
    }
    .navbar-brand {
        color: $dark;
        font-weight: 800;
        &:hover,
        &:focus,
        &:active {
            background: none;
            color: $theme1;
        }
    }
}




.header {
    .slider {
        max-height: 500px;
        overflow: hidden;
        background: #000;
        img {
            width: 100%;
        }
        .cb-slideshow {
            list-style: none;
        }
    }
    .equipamiento {
        position: absolute;
        z-index: 1000;
        top: 50px;
        right: 0;
        max-width: 400px;
        padding: 10px 20px;
        .box {
            background: $white;
            border-radius: 4px;
            margin-bottom: 10px;
            height: 180px;
            border: 1px solid $dark;
            overflow: hidden;
            h3 {
                margin-bottom: 10px;
            }
            .img {
                overflow: hidden;
                border-radius: 4px 0 0 4px;
                background: $dark;
                width: 200px;
                height: 180px;
                float: left;
                margin-right: 20px;
                img {
                    height: 100%;
                }
            }
            .info {
                padding: 10px 30px;
            }
        }
        .nav-tabs {
            background: $theme1;
            border-radius: 4px 4px 0 0;
            li {
                width: 110px;
                height: 100px;
                white-space: normal;
                text-align: center;
                margin: 0 !important;
                a {
                    height: 100px;
                    margin: 0;
                    border: 0;
                    color: $white;
                    font-size: 12px;
                    &:hover,
                    &:active,
                    &:focus,
                    &:visited{
                        border: 0;
                        background: $theme2;
                    }
                    i {
                        display: block;
                        font-size: 28px;
                    }
                }
            }
            .active {
                a {
                    background: $theme2;
                }
            }
        }
        .tab-content {
            padding: 10px;
            border: 1px solid $theme1;
            background: $white;
            h4 {
                margin: 10px 0;
            }
            .btn {
                width: 100%;
            }
        }
    }
    @media(max-width:768px) {
        .equipamiento {
            position: relative;
            top: auto;
        }
    }
}


.sect1 {
    padding: 30px 0;
    background: $white;
    .content {
        padding: 50px 100px;
    }
}

@media(max-width:768px) {
    .sect1 {
        padding: 30px 0;
        background: $white;
        .content {
            padding: 0;
        }
    }
}

.sect2 {
    background: $white;
    h2 {
        margin-bottom: 20px;
    }
    .marcas {
        margin: 0 auto;
        max-width: 600px;
        background: $white;
        img {
            margin-top: 10px;
        }
    }
    .vehiculos {
        background: $white;
        padding: 50px 0;
        a {
            color: $dark;
        }
        h2 {
            color: $dark !important;
        }
        .box {
            margin: 0 auto;
            background: $white;
            width: 300px;
            overflow: hidden;
            border-radius: 4px;
            height: 350px;
            border: 1px solid $gray;
            margin-bottom: 30px;
            padding: 10px;
            font-size: 14px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            display: block;
            &:hover,
            &:focus,
            &:active,
            &.active {
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
            h4 {
                text-align: left;
            }
            .specs {
                margin-top: 10px;
                font-size: 12px;
                color: $theme1;
                font-weight: 800;
                div {
                    padding: 0;
                    text-align: center;
                }
                .border {
                   border-right: 1px solid $gray; 
                }
            }
            .btn {
                width: 120px;
                float: right;
                color: $white;
            }
            .img {
                overflow: hidden;
                width: 100%;
                max-height: 200px;
                margin-bottom: 10px;
                text-align: center;
                img {
                    display: block;
                    width: 100%;
                    margin: 0 auto;
                    overflow: hidden;
                }
                .estatus {
                    position: absolute;
                    top: 20px;
                    margin-left: -150px;
                    margin-right: 100px;
                    background: $theme1;
                    color: $white;
                    padding: 5px;
                    border-radius: 0 7px 7px 0;
                    width: 150px;
                    text-transform: uppercase;
                    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
                }
            }
            .info {
                .precio {
                    background: rgba(0, 0, 0, 0.63);
                    color: $white;
                    padding: 5px;
                    border-radius: 7px;
                    width: 100px;
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: 800;
                    margin-top: -20px;
                }
            }
            p {
                font-size: 12px;
            }
        }
    }
    
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs {
        border: 0;
    }
}

#marcas-page {
    
    .sect2 {
        background: $white;
        h2 {
            margin-bottom: 20px;
        }
        .filtros {
            background: $theme2;
            min-height: 80px;
            padding: 10px;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 7px;
            label {
                color: $white;
            }
        }
        .marcas {
            margin: 0 auto;
            max-width: 600px;
            background: $white;
            img {
                margin-top: 10px;
            }
        }
        .vehiculos {
            background: $white;
            padding: 50px 0px;
            a {
                color: $dark;
            }
            h2 {
                color: $dark !important;
            }
            .box {
                margin: 0 auto;
                background: $white;
                width: 300px;
                overflow: hidden;
                border-radius: 4px;
                height: 350px;
                border: 1px solid $gray;
                margin-bottom: 30px;
                padding: 10px;
                font-size: 14px;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                display: block;
                &:hover,
                &:focus,
                &:active,
                &.active {
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                }
                h4 {
                    text-align: left;
                }
                .specs {
                    margin-top: 10px;
                    font-size: 12px;
                    color: $theme1;
                    font-weight: 800;
                    div {
                        padding: 0;
                        text-align: center;
                    }
                    .border {
                       border-right: 1px solid $gray; 
                    }
                }
                .btn {
                    width: 120px;
                    color: $white;
                }
                .img {
                    overflow: hidden;
                    width: 100%;
                    max-height: 200px;
                    margin-bottom: 10px;
                    text-align: center;
                    img {
                        display: block;
                        width: 100%;
                        margin: 0 auto;
                        overflow: hidden;
                    }
                    .estatus {
                        position: absolute;
                        top: 20px;
                        margin-left: -150px;
                        margin-right: 100px;
                        background: $theme1;
                        color: $white;
                        padding: 5px;
                        border-radius: 0 7px 7px 0;
                        width: 150px;
                        text-transform: uppercase;
                        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
                    }
                }
                .info {
                    .precio {
                        background: rgba(0, 0, 0, 0.63);
                        color: $white;
                        padding: 5px;
                        border-radius: 7px;
                        width: 100px;
                        text-transform: uppercase;
                        font-size: 10px;
                        font-weight: 800;
                        margin-top: -20px;
                    }
                }
                p {
                    font-size: 12px;
                }
            }
        }
        
        .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs {
            border: 0;
        }
    }
}

#detalles-page {
    h4 {
        margin-bottom: 20px;
    }
    .ficha {
        box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        .table {
            thead {
                background: $theme1;
                color: $white;
                border: 0;
                margin: 0;
                border-radius: 7px 7px 0 0;
                th, tr {
                    border: 0;
                    text-align: center;
                }
            }
            tbody {
                border: 0;
                margin: 0;
                td, tr {
                    border: 0;
                    text-align: center;
                }
                .col {
                    background: $gray;
                }
            }
            
        }
    }
    .fichaSimple {
        thead {
            background: $dark;
            color: $white;
            border: 1px solid $dark;
            margin: 0;
            border-radius: 7px 7px 0 0;
            th, tr {
                border: 0;
            }
        }
        tbody {
            border: 1px solid $dark;
            margin: 0;
            td, tr {
                border: 0;
                span {
                    font-size: 22px;
                    margin-right: 10px;
                }
            }
            .col {
                background: $gray;
            }
        }
        
    }
    .equipamiento {
        margin: 0 auto;
        max-width: 400px;
        padding: 0;
        .box {
            background: $white;
            border-radius: 4px;
            margin-bottom: 10px;
            height: 180px;
            border: 1px solid $dark;
            overflow: hidden;
            .img {
                overflow: hidden;
                border-radius: 4px 0 0 4px;
                background: $dark;
                width: 200px;
                height: 180px;
                float: left;
                margin-right: 20px;
                img {
                    height: 100%;
                }
            }
            .info {
                padding: 10px 30px;
            }
        }
        .nav-tabs {
            background: $theme1;
            border-radius: 4px 4px 0 0;
            li {
                width: 110px;
                height: 100px;
                white-space: normal;
                text-align: center;
                margin: 0 !important;
                a {
                    height: 100px;
                    margin: 0;
                    border: 0;
                    color: $white;
                    font-size: 12px;
                    &:hover,
                    &:active,
                    &:focus,
                    &:visited{
                        border: 0;
                        background: $theme2;
                    }
                    i {
                        display: block;
                        font-size: 28px;
                    }
                }
            }
            .active {
                a {
                    background: $theme2;
                }
            }
        }
        .tab-content {
            padding: 10px;
            border: 1px solid $theme1;
            background: $white;
            h4 {
                margin: 10px 0;
            }
            .btn {
                width: 100%;
            }
        }
    }
    .sect2 {
        background: $white;
        h2 {
            margin-bottom: 20px;
        }
        .filtros {
            background: $theme2;
            height: 80px;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 7px;
            label {
                color: $white;
            }
        }
        .marcas {
            margin: 0 auto;
            max-width: 600px;
            background: $white;
            img {
                margin-top: 10px;
            }
        }
        .vehiculos {
            background: $white;
            padding: 50px 0px;
            a {
                color: $dark;
            }
            h2 {
                color: $dark !important;
            }
            .box {
                margin: 0 auto;
                background: $white;
                width: 300px;
                overflow: hidden;
                border-radius: 4px;
                height: 350px;
                border: 1px solid $gray;
                margin-bottom: 30px;
                padding: 10px;
                font-size: 14px;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                display: block;
                &:hover,
                &:focus,
                &:active,
                &.active {
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                }
                h4 {
                    text-align: left;
                }
                .specs {
                    margin-top: 10px;
                    font-size: 12px;
                    color: $theme1;
                    font-weight: 800;
                    div {
                        padding: 0;
                        text-align: center;
                    }
                    .border {
                       border-right: 1px solid $gray; 
                    }
                }
                .btn {
                    width: 120px;
                    color: $white;
                }
                .img {
                    overflow: hidden;
                    width: 100%;
                    max-height: 200px;
                    margin-bottom: 10px;
                    text-align: center;
                    img {
                        display: block;
                        width: 100%;
                        margin: 0 auto;
                        overflow: hidden;
                    }
                    .estatus {
                        position: absolute;
                        top: 20px;
                        margin-left: -150px;
                        margin-right: 100px;
                        background: $theme1;
                        color: $white;
                        padding: 5px;
                        border-radius: 0 7px 7px 0;
                        width: 150px;
                        text-transform: uppercase;
                        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
                    }
                }
                .info {
                    .precio {
                        background: rgba(0, 0, 0, 0.63);
                        color: $white;
                        padding: 5px;
                        border-radius: 7px;
                        width: 100px;
                        text-transform: uppercase;
                        font-size: 10px;
                        font-weight: 800;
                        margin-top: -20px;
                    }
                }
                p {
                    font-size: 12px;
                }
            }
        }
        
        .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs {
            border: 0;
        }
    }
}

.banner {
    background: url('../img/fotos/1.jpeg') center center no-repeat;
    background-size: cover;
    height: 300px;
}

.sect3 {
    padding: 50px 0;
    h2 {
        margin-bottom: 20px;
    }
    .box {
        .img {
            width: 200px;
            margin: 0 10px 10px 0;
            float: left;
        }
        p {
            text-align: justify;
        }
    }
}


.sect4 {
    .pro1 {
        background: url('../img/pro1.jpg') top center no-repeat;
        background-size: cover;
        height: 350px;
    }
    .pro2 {
        background: url('../img/pro2.jpg') top center no-repeat;
        background-size: cover;
        height: 350px;
    }
    h1 {
        margin: 50px 0;
        text-align: center;
    }
    .box {
        padding: 20px 40px;
        h4 {
            color: $theme1;
            font-family: 'Roboto', sans-serif !important;
            font-weight: bold;
            margin-bottom: 20px;
            span {
                color: $dark;
            }
        }
        p {
            font-size: 12px;
            margin-bottom: 20px;
        }
        ul {
            list-style: none;
            margin-bottom: 20px;
            li {
                span {
                    margin-right: 10px;
                }
            }
        }
        .btn {
            margin: 0 auto;
        }
    }
}


.sect5 {
    padding: 50px 0;
    background: $theme2;
    .panel-title {
        color: $dark;
        font-size: 18;
        font-weight: 100;
        font-family: 'Roboto', sans-serif !important;
        i {
            color: $theme1;
        }
    }
    .panel-group {
        .panel-heading {
            border-bottom: 0;
            border: 1px solid $theme1;
            border-radius: 4px;
        }
    }
    .panel-body {
        color: $dark;
        font-size: 16;
        font-weight: 100;
        font-family: 'Roboto', sans-serif !important;
        padding: 20px 100px;
        text-align: justify;
    }
}
@media(max-width:768px) {
    .sect5 {
        padding: 50px 0;
        background: $theme2;
        .panel-title {
            color: $dark;
            font-size: 18;
            font-weight: 100;
            font-family: 'Roboto', sans-serif !important;
            i {
                color: $theme1;
            }
        }
        .panel-group {
            .panel-heading {
                border-bottom: 0;
                border: 1px solid $theme1;
                border-radius: 4px;
            }
        }
        .panel-body {
            color: $dark;
            font-size: 16;
            font-weight: 100;
            font-family: 'Roboto', sans-serif !important;
            padding: 20px 20px;
            text-align: justify;
        }
    }
}


.modal {
    .close {
        color: $theme1;
        opacity: .5;
    }
    .modal-header{
        padding: 15px;
        border-bottom: 0;
    }
    .modal-footer {
        padding: 15px;
        border-top: 0;
    }
    .profesionales {
        padding: 0 10px;
        background: $theme2;
        .pro1 {
            background: url('../img/pro1.jpg') top center no-repeat;
            background-size: cover;
            height: 150px;
            width: 150px;
            border-radius: 100%;
            margin-right: 20px;
        }
        .pro2 {
            background: url('../img/pro2.jpg') top center no-repeat;
            background-size: cover;
            height: 150px;
            width: 150px;
            border-radius: 100%;
            margin-right: 20px;
        }
        @media(max-width:768px) {
            .pro1, .pro2 {
                margin: 0 auto;
            }
        }
        h1 {
            margin: 50px 0;
            text-align: center;
        }
        .box {
            .row {
                border-radius: 10px;
                padding: 10px;
                background: $white;
                margin-bottom: 10px;
                @media(max-width:768px) {
                    .name {
                        text-align: center
                    }
                }
                h4 {
                    color: $theme1;
                    font-family: 'Roboto', sans-serif !important;
                    font-weight: 800;
                    margin-bottom: 20px;
                    span {
                        color: $dark;
                    }
                }
                @media(max-width:768px) {
                    h4 {
                        margin-top: 20px;
                    }
                }
                p {
                    font-size: 12px;
                    margin-bottom: 20px;
                }
                ul {
                    list-style: none;
                    margin-bottom: 20px;
                    li {
                        span {
                            margin-right: 10px;
                        }
                    }
                }
            }
            
        }
    }
    .email {
        padding: 20px 50px;
        h2 {
            color: $theme1;
            span {
                color: $dark;
            }
        }
        form {
            label, input, textarea {
                font-size: 14px;
                font-family: 'Roboto', sans-serif !important;
                font-weight: 100;
                color: $dark;
            }
            .active {
                color: $dark !important;
            }
        }
    }
    @media(max-width:768px) {
        .email {
            padding: 10px;
            h2 {
                color: $theme1;
                span {
                    color: $dark;
                }
            }
            form {
                label, input, textarea {
                    font-size: 14px;
                    font-family: 'Roboto', sans-serif !important;
                    font-weight: 100;
                    color: $dark;
                }
                .active {
                    color: $dark !important;
                }
            }
        }
    } 
}



.contactado {
    background: url('../img/contactado.jpg') center center no-repeat;
    background-size: cover;
    height:100vh;
    padding-top: 250px;
    h1 {
        color: $theme1;
    }
}
.rg-view {
    display: none;
}
.rg-image-wrapper {
    background: $dark;
}
.rg-caption p {
    color: $white;
}
.es-carousel-wrapper {
    border-radius: 0;
    box-shadow: none;
    background: $dark;
    padding: 0;
}
.es-carousel {
    background: none;
}
.es-carousel ul {
    width: 100% !important;
}